.page-enter-from .solid-bg,
.page-leave-to .solid-bg {
  opacity: 0;
}

.page-enter-active .solid-bg,
.page-leave-active .solid-bg {
  transition: opacity .2s ease;
}

.page-enter-active .page-content,
.page-leave-active .page-content {
  transition: all .2s ease;
}

.page-enter-from .page-content {
  transform: translateY(40px);
  opacity: 0;
}

.page-leave-to .page-content {
  transform: translateY(40px);
  opacity: 0;
}